.squarez{
    width: 20px;
    height: 20px;
    background-color: rgba(20, 184, 248, 0.911);
    border: 2px solid black;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}
.z{
    display: inline-block;
}