.play{
    margin: 0;
    padding: 0;
    width: 660px;
    height: 620px;
    position: relative;
    left: 260px;
}
.anim{
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
    z-index: 2;
}
